<h1> Pagos</h1>
<div id="pagos">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Fecha Pago</th>
        <th scope="col">Identificacion Cliente</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Porcentaje Descuento/Recargo</th>
        <th scope="col">Valor Descuento/Recargo</th>
        <th scope="col">Total</th>
        <th scope="col">Ver detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pago of listaPagos | async">
        <td>{{pago.fechaPago}}</td>
        <td>{{pago.identificacionCliente}}</td>
        <td>{{pago.subTotal}} </td>
        <td>{{pago.porcentajeDescuentoRecargo}} </td>
        <td>{{pago.valorDescuentoRecargo}} </td>
        <td>{{pago.total}} </td>
        <td> <button class="btn btn-danger" [routerLink]="['/listarpagodetalle', pago.id]"> Ver </button></td>
      </tr>
    </tbody>
  </table>
</div>