<nav>
    <a id="linkServicioElectrico" routerLink="./" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">Servicio</a>
      <br>
    <a id="linkCrearServicioElectrico" routerLink="./crear" routerLinkActive="active">Crear Servicio Eléctrico</a>
    <br>
    <a id="linkBorrarServicioElectrico" routerLink="./borrar" routerLinkActive="active">Borrar Servicio Eléctrico</a>
    <br>
    <a id="linkListarServicioElectrico" routerLink="./listar" routerLinkActive="active">Listar Servicio Electrico</a>
  </nav>
  <router-outlet></router-outlet>
  
