<h1>Registrar Servicio Eléctrico</h1>
<div class="card">
  <div class="card-body">
    <form [formGroup]="servicioElectricoForm" (ngSubmit)="crearServicio()">
      <div class="form-group">
        <label>Número de Servicio:</label>
        <input validar type="text" id="numeroServicio" name="numeroServicio" placeholder="Número servicio"
          class="form-control" formControlName="numeroServicio">
      </div>
      <div class="form-group">
        <label>Identificación Cliente:</label>       
        <input validar type="text" id="identificacionCliente" name="identificacionCliente"
        placeholder="Identificación cliente" class="form-control" formControlName="identificacionCliente">
      </div>
      <div class="form-group">
        <label>Nombre del Cliente:</label>
        <input validar type="text" id="nombreCliente" name="nombreCliente" placeholder="Nombre cliente"
          class="form-control" formControlName="nombreCliente">
      </div>
      <div class="form-group">
        <label>Mes de pago:</label>
        <input validar type="text" id="mes" name="mes" placeholder="Mes de pago" class="form-control"
          formControlName="mes">

      </div>
      <div class="form-group">
        <label>Fecha máxima de Pago:</label>
        <input validar type="text" id="fechaMaximaPago" name="fechaMaximaPago" placeholder="Fecha máxima de pago"
          class="form-control" formControlName="fechaMaximaPago">
      </div>
      <div class="form-group">
        <label>Valor a pagar:</label>
        <input validar type="text" id="valor" name="valor" placeholder="Valor a pagar" class="form-control"
          formControlName="valor">
      </div>
      
      <button type="submit" class="btn btn-primary">Guardar</button>
      
    </form>
  </div>
</div>